body {
	background-image: url("https://rail.cc/img/loc/1/1427614268fe411e6bd38e9f521031f67d87f0b55d.jpg");
}

.container {
	height: auto;
	width: 100%;
}

.jumbotron {
	opacity: 0.8;
}

.panel {
	opacity: 0.8;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
}

#addTrainBtn {
    background-color: black;
    color: white;
    border: none;
}