body {
	background-image: url("https://rail.cc/img/loc/1/1427614268fe411e6bd38e9f521031f67d87f0b55d.jpg");
}

.container {
	height: auto;
	width: 100%;
}

.jumbotron {
	-moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}

.panel {
	-moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}

#addTrainBtn {
    background-color: black;
    color: white;
    border: none;
}